/* configures how the browser calculates the box size of elements, and sets padding and margin to 0 for all elements  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color for the body of the page  */
body {
    background-color: #d9dcd6;
}

/* formats the element of the header class with padding, font, font color, and background color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* specifies the display type and font size for the h1 in the element with the header class  */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
 
/* sets the font color for the element with class seo within the h1 element within the element with the header class  */
.header h1 .seo {
    color: #d9dcd6;
}

/* sets the top padding, right margin, font family and size for the nav element within the element with the header class; also makes it float right  */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes the bullet for the unordered list withn the nav element within the container with class header  */
.header nav ul {
    list-style-type: none;
}

/* formats the left margin and displays each list item inline of the unordered list within the nav element within the container with class header  */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets the font color and removes the underline for links  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets the font size for p elements  */
p {
    font-size: 16px;
}

/* sets the height, width, bottom margin for the image within the element with class hero */
.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

/* for the element with class float-left, sets the direction of the float and the right margin  */
.float-left {
    float: left;
    margin-right: 25px;
}

/* for the element with class float-right, sets the direction of the float and the left margin  */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets the width, display type, and left margin for the element with class content  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}



/* consolidated formatting for these classes  */
/* sets formatting for bottom margin, padding, height, font family, background color and font color for elements with these classes */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* consolidated formatting for images within these classes  */
/* sets max image height  */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* consolidated formatting for the subtitle for these classes  */
/* sets margin bottom and font size  */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets right margin, padding, clear, direction of float, width, height, font family and background color for the element with class benefits  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* consolidated these classes; sets font color and bottom margin  */
.benefit-lead, .benefit-brand, .benefit-cost  {
    margin-bottom: 32px;
    color: #ffffff;
}

/* consolidated formatting for the h3 element for these classes; sets bottom margin and text alignment */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* consolidated formatting for images within these classes; sets display type, margin, and image width  */
.benefit-lead img, .benefit-brand img, .benefit-cost img  {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets padding, clear, font family and text alignment for the footer element  */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets the font size for the sub sub subtitle in the footer  */
.footer h4 {
    font-size: 20px;
}
